.contact_form {
  padding: 40px 10vw;
  margin-top: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.contact_form img {
  background-color: rgb(218, 237, 255);
  /* height: 360px; */
}

@media (min-width: 1620px) {
  .contact_form {
    padding: 80px 10vw;
    margin-top: 24vw;
  }
  .contact_form img {
    height: fit-content;
  }
}
/*@media (max-width: 1620px) and (min-width: 1024px)*/
/*@media (max-width: 1024px)*/
@media (max-width: 820px) {
  .contact_form {
    flex-direction: column;
    padding: 40px 10vw;
  }
  .contact_form img {
    /* height: 328px; */
  }
}
