.headernewform label.error {
  color: red;
}
.headernewform input.error, .headernewform select.error {
  border: 1px solid red;
}
.headernewform {
  background-color: var(--primary-color);
  padding: 134px 40px;
}
.headernewform .section.title_aaa.f_2_h {
  margin: 0 0 20px;
}
.headernewform .section.title_aaa.f_2_h h3 {
  color: var(--tertiary-color);
}
.headernewform .form-control, .headernewform .form-select {
  border-radius: 0;
  margin: 15px 0 5px;
  padding: 10px 10px;
}
.reacptchs {
  margin: 15px 0;
}
.headernewform button {
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 7px 35px;
  border-radius: 30px;
}
.headernewform:has(label.error) {
  padding: 76px 40px;
}

@media (max-width: 767px) {
  .headernewform {
    padding: 30px 40px 60px;
  }
}