.form2_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form2 {
  width: fit-content;
  padding: 24px 24px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: url(../Assets/leaves.png);
  background-blend-mode: multiply;
  color: rgba(123, 127, 137, 0.695);
  border-radius: 12px;
  box-shadow: 18px 18px 4px rgba(164, 164, 164, 0.348);
  transition: box-shadow 0.3s ease-in-out;
}

.form2:hover {
  box-shadow: 12px 12px 6px rgba(164, 164, 164, 0.463);
  transition: box-shadow 0.3s ease-in-out;
}

.f2_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.f2_input {
  height: 36px;
  width: 280px;
  border: none;
  border-radius: 8px;
  padding: 0 24px;
  box-shadow: 0px 2px 4px rgba(99, 99, 99, 0.288);
  -webkit-appearance: none; /* Remove the default select dropdown arrow */
  -moz-appearance: none; /* Remove the default select dropdown arrow for Firefox */
  appearance: none; /* Standard CSS property to remove the arrow */
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: rgba(123, 127, 137, 0.695);
}

.f2_input:hover,
.f2_input:focus {
  outline: none;
  background-color: rgb(237, 249, 255);
}

/* For Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* For Internet Explorer 11 */
input[type='number']::-ms-clear,
input[type='number']::-ms-reveal {
  display: none;
}

.f2_input::placeholder {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: rgba(123, 127, 137, 0.695);
}

.form2 button {
  padding: 4px 0px;
  border: none;
  background-color: #ffdd00;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
  letter-spacing: 0.6px;
  height: 38px;
  width: 280px;
}

.form2 button:hover {
  transform: translateY(-4px);
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px #ffdd00;
}

@media (min-width: 1620px) {
  .form2 {
    padding: 42px;
    gap: 24px;
  }
  .f2_container {
    gap: 1vw;
  }
  .f2_input {
    height: 2.4vw;
    width: 14vw;
    padding: 0 24px;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .f2_input::placeholder {
    font-size: 1vw;
    font-weight: 600;
  }
  .form2 button {
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 24px;
    letter-spacing: 0.6px;
    height: 2.4vw;
    width: 14vw;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .form2 {
    padding: 24px;
    gap: 18px;
  }
  .f2_container {
    gap: 1vw;
  }
  .f2_input {
    height: 2.4vw;
    width: 18vw;
    padding: 0 24px;
    border-radius: 4px;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .f2_input::placeholder {
    font-size: 1vw;
    font-weight: 600;
  }
  .form2 button {
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 1.2vw;
    letter-spacing: 0.6px;
    height: 2.4vw;
    width: 18vw;
  }
}
@media (max-width: 1024px) {
  .form2 {
    padding: 24px;
    gap: 8px;
  }
  .f2_container {
    gap: 1.2vw;
  }
  .f2_input {
    height: 2.6vw;
    width: 18vw;
    padding: 0 24px;
    border-radius: 4px;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .f2_input::placeholder {
    font-size: 1vw;
    font-weight: 600;
  }
  .form2 button {
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 1.2vw;
    letter-spacing: 0.6px;
    height: 2.6vw;
    width: 18vw;
  }
}
@media (max-width: 820px) {
  .form2 {
    padding: 24px;
    gap: 12px;
  }
  .f2_container {
    gap: 14px;
  }
  .f2_input {
    height: 24px;
    width: 24vw;
    padding: 0 24px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .f2_input::placeholder {
    font-size: 10px;
    font-weight: 600;
  }
  .form2 button {
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.6px;
    height: 26px;
    width: 24vw;
  }
}
@media (max-width: 560px) {
  .form2 {
    padding: 24px;
    gap: 12px;
  }
  .f2_container {
    gap: 14px;
  }
  .f2_input {
    height: 24px;
    width: 240px;
    padding: 0 24px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .f2_input::placeholder {
    font-size: 10px;
    font-weight: 600;
  }
  .form2 button {
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.6px;
    height: 26px;
    width: 240px;
  }
}
