/* Some common css design */
.cd_t1 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #8f8f8f;
  margin: 0;
}

.cd_t2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242323;
  margin: 0;
}

.cd_divider {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 20px 0;
  height: 1.6px;
  width: 60%;
  background-color: rgba(123, 123, 123, 0.324);
}

.cd_p_box {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cd_p_box p {
  color: #420000;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
}

/*  */

.course_details {
  background-color: white;
  padding: 60px 10vw;
}

.cd_container {
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(121, 121, 121, 0.3);
}

.cd_p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #ffb05a;
  background-image: url('https://www.transparenttextures.com/patterns/black-thread-light.png');
  background-blend-mode: multiply;
  padding: 40px 80px 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 180px;
  /* display: none; */
}

.cd_p1 ul {
  display: flex;
  gap: 28px;
}

.cd_p1 li {
  list-style: none;
  text-align: center;
  padding: 6px 12px;
  width: 224px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-shadow: 0 4px 4px rgba(70, 70, 70, 0.699);
  text-decoration: none;
}
.cd_p1_tnselect {
  background-color: #85a0aa;
  text-decoration: none;
  color: white;
}
.cd_p1_tselect {
  background-color: rgb(151, 170, 178);
  color: #fff856;
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(94, 94, 94, 0.377);
  transition: transform 0.3s ease-in-out;
}

.c_details_arrow {
  height: 4vw;
  position: absolute;
  right: 12vw;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cd_p2 {
  background-color: #ffcc96;
  background-image: url('https://www.transparenttextures.com/patterns/black-thread-light.png');
  background-blend-mode: multiply;
  padding: 20px 0 20px;
  height: 74px;
  display: block;
}

.cd_p2 ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.cd_p2 li {
  list-style: none;
  text-align: center;
  padding: 6px 12px;
  width: 164px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(70, 70, 70, 0.293);
}

.cd_p2_tnselect {
  background-color: #bcbcbc;
  color: #4d4d4d;
}

.cd_p2_tselect {
  background-color: #ffdd00;
  color: white;
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(94, 94, 94, 0.216);
  transition: transform 0.3s ease-in-out;
}

.cd_p3 {
  background-color: #fee0c0;
  background-image: url('https://www.transparenttextures.com/patterns/black-thread-light.png');
  background-blend-mode: multiply;
  padding: 30px 0 20px;
  height: 90px;
  /* border-top-right-radius: 12px; */
  /* border-top-left-radius: 12px; */
}

.sticky-div_c_d {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 86px;
  z-index: 1;
  /* other styling as needed */
}

.cd_p3 ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.cd_p3 li {
  list-style: none;
  text-align: center;
  padding: 6px 8px;
  width: 184px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(70, 70, 70, 0.293);
}

.cd_p3_tnselect {
  color: #494949;
  border: 2px solid #c3c3c3;
}

.cd_p3_tselect {
  border: 2px solid #ffdd00;
  background-color: #ffdd00;
  color: rgb(255, 255, 255);
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(94, 94, 94, 0.216);
  transition: transform 0.3s ease-in-out;
}

.cd_p4 {
  background-color: #fff1e2;
  background-image: url('https://www.transparenttextures.com/patterns/black-thread-light.png');
  background-size: cover;
  background-blend-mode: multiply;
  padding: 60px 52px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.cd_intro {
  padding: 28px;
  /* background-color: rgb(218, 237, 255); */
  background-image: linear-gradient(135deg, #86ffef 10%, #3d74f4 100%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cd_description {
  padding: 28px;
  background-image: linear-gradient(135deg, #9be3ff 10%, #d469fb 100%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cd_teaching {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.cd_t_top {
  background-color: #bfe0ff;
  background-image: url(../Assets/Trianglify-1.png);
  background-size: cover;
  background-blend-mode: multiply;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 28px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.cd_t_top img {
  height: 240px;
  width: 360px;
  object-fit: cover;
  border-radius: 12px;
  z-index: 0;
  cursor: pointer;
}

.cd_t_bottom {
  padding: 28px 40% 28px 28px;
  background-color: rgb(218, 237, 255);
  background-image: url(../Assets/Trianglify-2.png);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.cd_envi {
  padding: 28px;
  background-image: linear-gradient(135deg, #86ffef 10%, #3d74f4 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.cd_envi div {
  background-color: white;
  border-radius: 12px;
  padding: 28px 44px;
  display: flex;
  justify-content: space-between;
}

.cd_envi div img {
  height: 120px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
}

.cd_planner {
  padding: 28px;
  background-image: linear-gradient(135deg, #86ffef 10%, #3d74f4 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.cd_p_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cd_fee {
  padding: 28px;
  background-image: linear-gradient(135deg, #9be3ff 10%, #d469fb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.cd_fee p {
  margin: 0;
}

.cd_fee p:nth-child(1) {
  font-size: 1.2vw;
  color: #ffdd00;
}

.cd_fee p:nth-child(2) {
  font-size: 1vw;
  color: #ffdd00;
}

.cd_fee p:nth-child(3) {
  background-image: linear-gradient(to bottom, #ffdd00, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.cd_fee_p_span {
  font-size: 24px;
}

.pay_now_btn_cd {
  background-color: #ffdd00;
  border-radius: 8px;
  border: none;
  padding: 6px 32px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.6px;
}

.pay_now_btn_cd:hover {
  transform: translateY(-4px);
  box-shadow: 2px 4px 4px rgba(219, 219, 219, 0.527);
}

.cd_test {
  padding: 28px;
  background-image: linear-gradient(135deg, #9be3ff 10%, #d469fb 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.cd_t_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.cd_t_box .cd_p_box {
  width: 480px;
}

.cd_benifits {
  text-align: center;
  padding: 28px;
  background-image: linear-gradient(135deg, #86ffef 10%, #3d74f4 100%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cd_b_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cd_b_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 200px;
}

.cd_result {
  width: 86%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 28px;
  background-image: linear-gradient(135deg, #9be3ff 10%, #d469fb 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
}

.c_d_poster {
  height: fit-content;
  width: 800px;
  border-radius: 12px;
}

.cd_outro {
  text-align: center;
  font-style: italic;
  color: #a4a4a4;
}

.btn_cd {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1620px) {
  .cd_t1 {
    font-size: 1.2vw;
  }
  .cd_t2 {
    font-size: 1vw;
  }
  .cd_divider {
    height: 2.6px;
    width: 60%;
  }
  .cd_p_box {
    padding: 1vw;
    border-radius: 12px;
    gap: 1vw;
  }
  /*  */
  .course_details {
    padding: 80px 10vw;
  }
  .cd_p1 {
    gap: 1.4vw;
    padding: 40px 80px 30px;
    height: fit-content;
  }
  .cd_p1 ul {
    gap: 2vw;
  }
  .cd_p1 li {
    padding: 16px 38px;
    width: 14vw;
    border-radius: 12px;
    font-size: 1vw;
  }
  .c_details_arrow {
    height: 2vw;
    right: 12vw;
  }
  .cd_p2 {
    padding: 30px 0 10px;
    height: fit-content;
  }
  .cd_p2 ul {
    gap: 1.4vw;
  }
  .cd_p2 li {
    padding: 12px 32px;
    width: 10vw;
    border-radius: 12px;
    font-size: 0.8vw;
  }
  .sticky-div_c_d {
    top: 76.8px;
  }
  .cd_p3 {
    padding: 30px 0 10px;
    height: fit-content;
  }
  .cd_p3 ul {
    gap: 28px;
  }
  .cd_p3 li {
    padding: 10px 28px;
    width: 12vw;
    border-radius: 12px;
    font-size: 0.8vw;
  }
  /*  */
  .cd_p4 {
    padding: 3vw 3vw;
  }
  /*  */
  .cd_intro {
    padding: 1.4vw 2.8vw;
    gap: 0.8vw;
  }
  /*  */
  .cd_description {
    padding: 1.4vw 2.8vw;
    gap: 0.8vw;
  }
  /*  */
  .cd_t_top {
    padding: 1.4vw 2.8vw;
    height: 4.2vw;
  }
  .cd_t_top img {
    height: 14vw;
    width: 24vw;
  }
  .cd_t_bottom {
    padding: 2.8vw 40% 1.4vw 2.8vw;
    gap: 12px;
  }
  /*  */
  .cd_envi {
    padding: 1.4vw 2.8vw;
    gap: 0.8vw;
  }
  .cd_envi div {
    gap: 2vw;
    padding: 1vw;
  }
  .cd_envi div img {
    height: 8vw;
    width: 12vw;
  }
  /*  */
  .cd_planner {
    padding: 1.4vw 2.8vw;
    gap: 0.8vw;
  }
  .cd_p_container {
    gap: 1vw;
  }
  /*  */
  .cd_fee {
    padding: 1.4vw 2.8vw;
    gap: 0.8vw;
    width: 50%;
    text-align: center;
  }
  .cd_fee p:nth-child(1) {
    font-size: 1.2vw;
  }
  .cd_fee p:nth-child(2) {
    font-size: 1vw;
  }
  .cd_fee p:nth-child(3) {
    font-size: 2vw;
  }
  .cd_fee_p_span {
    font-size: 1vw;
  }
  .pay_now_btn_cd {
    padding: 8px 38px;
    font-size: 1.2vw;
  }
  /*  */
  .cd_test {
    padding: 1.4vw 5.8vw;
    gap: 0.8vw;
  }
  .cd_t_box {
    row-gap: 2vw;
  }
  .cd_t_box .cd_p_box {
    width: 18vw;
  }
  /*  */
  .cd_benifits {
    padding: 1.4vw 2.8vw;
    gap: 12px;
  }
  .cd_b_container {
    gap: 1vw;
    width: 16vw;
  }
  /*  */
  .cd_result {
    width: 86%;
    padding: 1.4vw 2.8vw;
    gap: 12px;
  }
  .c_d_poster {
    width: 40vw;
  }
}

@media (max-width: 1620px) and (min-width: 1024px) {
  .cd_t1 {
    font-size: 1.4vw;
  }
  .cd_t2 {
    font-size: 1.2vw;
  }
  .cd_divider {
    height: 2.4px;
    width: 60%;
  }
  .cd_p_box {
    padding: 1.4vw;
    border-radius: 12px;
    gap: 1.2vw;
  }
  /*  */
  .course_details {
    padding: 80px 10vw;
  }
  .cd_p1 {
    gap: 1.4vw;
    padding: 40px 80px 30px;
    height: fit-content;
  }
  .cd_p1 ul {
    gap: 2.4vw;
  }
  .cd_p1 li {
    padding: 12px 0px;
    width: 14vw;
    border-radius: 12px;
    font-size: 1vw;
  }
  .c_details_arrow {
    height: 3vw;
    right: 12vw;
  }
  .cd_p2 {
    padding: 30px 0 10px;
    height: fit-content;
  }
  .cd_p2 ul {
    gap: 1.8vw;
  }
  .cd_p2 li {
    padding: 12px 0px;
    width: 12vw;
    border-radius: 12px;
    font-size: 1vw;
  }
  .sticky-div_c_d {
    top: 76.8px;
  }
  .cd_p3 {
    padding: 30px 0 10px;
    height: fit-content;
  }
  .cd_p3 ul {
    gap: 2vw;
  }
  .cd_p3 li {
    padding: 12px 12px;
    width: 13vw;
    border-radius: 12px;
    font-size: 1vw;
  }
  /*  */
  .cd_p4 {
    padding: 3vw 3vw;
  }
  /*  */
  .cd_intro {
    padding: 1.8vw 3.2vw;
    gap: 1.8vw;
  }
  /*  */
  .cd_description {
    padding: 1.8vw 3.2vw;
    gap: 1.8vw;
  }
  /*  */
  .cd_t_top {
    padding: 1.8vw 3.2vw;
    height: 5.2vw;
  }
  .cd_t_top img {
    height: 14vw;
    width: 24vw;
  }
  .cd_t_bottom {
    padding: 2.4vw 40% 3.2vw 3.2vw;
    gap: 1.4vw;
  }
  /*  */
  .cd_envi {
    padding: 1.8vw 3.2vw;
    gap: 1.8vw;
  }
  .cd_envi div {
    gap: 2vw;
    padding: 1vw;
  }
  .cd_envi div img {
    height: 8vw;
    width: 14vw;
  }
  /*  */
  .cd_planner {
    padding: 1.8vw 3.2vw;
    gap: 1.8vw;
  }
  .cd_p_container {
    gap: 1vw;
  }
  /*  */
  .cd_fee {
    padding: 1.8vw 3.2vw;
    gap: 1vw;
    width: 50%;
    text-align: center;
  }
  .cd_fee p:nth-child(1) {
    font-size: 1.4vw;
  }
  .cd_fee p:nth-child(2) {
    font-size: 1.2vw;
  }
  .cd_fee p:nth-child(3) {
    font-size: 2.2vw;
  }
  .cd_fee_p_span {
    font-size: 0.8vw;
  }
  .pay_now_btn_cd {
    padding: 8px 32px;
    font-size: 1.4vw;
  }
  /*  */
  .cd_test {
    padding: 1.8vw 4.8vw;
    gap: 1.8vw;
  }
  .cd_t_box {
    row-gap: 2.6vw;
  }
  .cd_t_box .cd_p_box {
    width: 18vw;
  }
  /*  */
  .cd_benifits {
    padding: 1.8vw 3.2vw;
    gap: 12px;
  }
  .cd_b_container {
    gap: 1vw;
    width: 16vw;
  }
  /*  */
  .cd_result {
    width: 86%;
    padding: 1.8vw 3.2vw;
    gap: 12px;
  }
  .c_d_poster {
    width: 44vw;
  }
}
@media (max-width: 1240px) {
  .sticky-div_c_d {
    top: 70.8px;
  }
}
@media (max-width: 1024px) {
  .cd_t1 {
    font-size: 14px;
  }
  .cd_t2 {
    font-size: 12px;
  }
  .cd_divider {
    height: 1.4px;
    width: 60%;
  }
  .cd_p_box {
    padding: 16px;
    border-radius: 12px;
    gap: 12px;
  }
  /*  */
  .cd_p1 {
    gap: 18px;
    padding: 30px 20px 20px;
    height: fit-content;
  }
  .cd_p1 ul {
    gap: 20px;
    row-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cd_p1 li {
    padding: 10px 30px;
    width: 140px;
    border-radius: 12px;
    font-size: 12px;
  }
  .c_details_arrow {
    height: 3vw;
    right: 12vw;
  }
  .cd_p2 {
    padding: 20px 0 2px;
    height: fit-content;
  }
  .cd_p2 ul {
    gap: 20px;
    row-gap: 8px;
    flex-wrap: wrap;
  }
  .cd_p2 li {
    padding: 8px 0px;
    width: 120px;
    border-radius: 12px;
    font-size: 12px;
  }
  .sticky-div_c_d {
    top: 70.8px;
  }
  .cd_p3 {
    padding: 20px 20px 1px;
    height: fit-content;
  }
  .cd_p3 ul {
    gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
  }
  .cd_p3 li {
    padding: 8px 0px;
    width: 130px;
    border-radius: 12px;
    font-size: 11px;
  }
  /*  */
  .cd_p4 {
    padding: 28px;
  }
  /*  */
  .cd_intro {
    padding: 24px 28px;
    gap: 12px;
  }
  /*  */
  .cd_description {
    padding: 24px 28px;
    gap: 12px;
  }
  /*  */
  .cd_t_top {
    padding: 24px 28px;
    height: fit-content;
  }
  .cd_t_top img {
    display: none;
    height: 14vw;
    width: 24vw;
  }
  .cd_t_bottom {
    padding: 28px;
    gap: 1.4vw;
  }
  /*  */
  .cd_envi {
    padding: 24px 28px;
    gap: 12px;
  }
  .cd_envi div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 14px;
  }
  .cd_envi div img {
    height: 80px;
    width: 140px;
  }
  /*  */
  .cd_planner {
    padding: 24px 28px;
    gap: 12px;
  }
  .cd_p_container {
    gap: 12px;
  }
  /*  */
  .cd_fee {
    padding: 24px 28px;
    gap: 12px;
    width: 50%;
    text-align: center;
  }
  .cd_fee p:nth-child(1) {
    font-size: 12px;
  }
  .cd_fee p:nth-child(2) {
    font-size: 10px;
  }
  .cd_fee p:nth-child(3) {
    font-size: 24px;
  }
  .cd_fee_p_span {
    font-size: 10px;
  }
  .pay_now_btn_cd {
    padding: 8px 22px;
    font-size: 12px;
  }
  /*  */
  .cd_test {
    padding: 24px 58px;
    gap: 12px;
  }
  .cd_t_box {
    row-gap: 24px;
  }
  .cd_t_box .cd_p_box {
    width: 170px;
  }
  /*  */
  .cd_benifits {
    padding: 24px 28px;
    gap: 12px;
  }
  .cd_b_box {
    justify-content: center;
    gap: 18px;
    row-gap: 28px;
  }
  .cd_b_container {
    gap: 12px;
    width: 180px;
  }
  /*  */
  .cd_result {
    width: 86%;
    padding: 24px 28px;
    gap: 12px;
  }
  .c_d_poster {
    width: 52vw;
  }
}
@media (max-width: 820px) {
  .cd_t1 {
    font-size: 14px;
  }
  .cd_t2 {
    font-size: 12px;
  }
  .cd_divider {
    height: 1.4px;
    width: 60%;
  }
  .cd_p_box {
    padding: 8px;
    border-radius: 4px;
    gap: 12px;
  }
  /*  */
  .course_details {
    padding: 40px 20px;
  }
  .cd_p1 {
    gap: 8px;
    padding: 20px 20px 10px;
    height: fit-content;
  }
  .cd_p1 ul {
    gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cd_p1 li {
    padding: 6px 0px;
    width: 100px;
    border-radius: 4px;
    font-size: 10px;
    letter-spacing: 0;
  }
  .c_details_arrow {
    height: 24px;
    right: 12vw;
  }
  .cd_p2 {
    padding: 20px 20px 2px;
    height: fit-content;
  }
  .cd_p2 ul {
    gap: 12px;
    row-gap: 12px;
    flex-wrap: wrap;
  }
  .cd_p2 li {
    padding: 8px 0px;
    width: 100px;
    border-radius: 4px;
    font-size: 10px;
  }
  .sticky-div_c_d {
    position: relative;
    top: 0;
  }
  .cd_p3 {
    padding: 20px 20px 1px;
    height: fit-content;
  }
  .cd_p3 ul {
    gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
  }
  .cd_p3 li {
    padding: 8px 0px;
    width: 120px;
    border-radius: 4px;
    font-size: 10px;
  }
  /*  */
  .cd_p4 {
    padding: 28px;
  }
  /*  */
  .cd_intro {
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
  }
  /*  */
  .cd_description {
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
  }
  /*  */
  .cd_t_top {
    padding: 12px;
    height: fit-content;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  .cd_t_top img {
    display: none;
    height: 14vw;
    width: 24vw;
  }
  .cd_t_bottom {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 12px;
    gap: 1.4vw;
  }
  /*  */
  .cd_envi {
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
  }
  .cd_envi div {
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 14px;
    border-radius: 6px;
  }
  .cd_envi div img {
    height: 120px;
    width: 200px;
  }
  /*  */
  .cd_planner {
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
  }
  .cd_p_container {
    gap: 12px;
  }
  /*  */
  .cd_fee {
    padding: 12px;
    gap: 12px;
    width: 80%;
    border-radius: 6px;
  }
  .cd_fee p:nth-child(1) {
    font-size: 12px;
  }
  .cd_fee p:nth-child(2) {
    font-size: 10px;
  }
  .cd_fee p:nth-child(3) {
    font-size: 24px;
  }
  .cd_fee_p_span {
    font-size: 8px;
  }
  .pay_now_btn_cd {
    padding: 8px 22px;
    font-size: 12px;
  }
  /*  */
  .cd_test {
    padding: 24px 58px;
    gap: 12px;
    border-radius: 6px;
  }
  .cd_t_box {
    row-gap: 12px;
  }
  .cd_t_box .cd_p_box {
    width: 66vw;
  }
  /*  */
  .cd_benifits {
    text-align: center;
    padding: 12px;
    gap: 12px;
  }
  .cd_b_box {
    justify-content: center;
    gap: 18px;
    row-gap: 12px;
  }
  .cd_b_container {
    gap: 12px;
    width: 66vw;
  }
  /*  */
  .cd_result {
    width: 100%;
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
  }
  .c_d_poster {
    width: 100%;
  }
}
