.faq {
  background-color: rgb(218, 237, 255);
  background-image: url('https://www.transparenttextures.com/patterns/foggy-birds.png');
  background-blend-mode: multiply;
  padding: 60px 10vw;
  display: flex;
}

.faq a {
  text-decoration: none;
  color: var(--black-color);
}

.faq_left {
  width: 480px;
  background-color: white;
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
}

.faq_right {
  background-color: #8dc8ff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 480px; */
  gap: 20px;
  overflow-y: hidden;
  width: 60%;
  background-color: #8dc8ff;
  background-image: url('../Assets/4015.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.faq_right div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 90%;
  background-color: white;
  height: fit-content;
  padding: 10px 20px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.faq_right div li {
  list-style: none;
  width: 92%;
  color: rgba(102, 102, 102, 1);
  cursor: pointer;
}

.faq_right div img {
  transform: rotate(90deg);
}

.answer {
  /* width: 540px; */
  padding: 2px 20px;
}

.faq_right div:hover {
  cursor: pointer;
}

.faq_right div:hover .icon_img {
  transform: rotate(-90deg);
}

@media (min-width: 1620px) {
  .faq {
    padding: 60px 10vw;
  }
  .faq_left {
    width: 34vw;
    padding: 90px 46px;
    gap: 30px;
  }
  .faq_subtitle {
    width: 24vw;
  }
  .faq_right {
    padding: 60px 20px;
    gap: 20px;
    width: 100%;
  }
  .faq_right div {
    gap: 10px;
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .faq_right dic lv {
    width: 50vw;
  }
  .answer {
    padding: 0;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .faq {
    padding: 60px 10vw;
  }
  .faq_left {
    width: 36vw;
    padding: 60px;
    gap: 24px;
  }
  .faq_subtitle {
    width: 28vw;
  }
  .faq_right {
    padding: 60px 20px;
    gap: 20px;
    width: 100%;
  }
  .faq_right div {
    gap: 10px;
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .faq_right dic lv {
    width: 50vw;
  }
  .answer {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .faq {
    padding: 60px 10vw;
    flex-direction: column;
  }
  .faq_left {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 40px;
    gap: 14px;
  }
  .faq_subtitle {
    width: 60vw;
  }
  .faq_right {
    padding: 40px 20px;
    gap: 20px;
    width: 100%;
  }
  .faq_right div {
    gap: 10px;
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .faq_right div li {
    width: 50vw;
  }
  .answer {
    padding: 0;
  }
  .faq_que {
    width: fit-content;
  }
}
@media (max-width: 820px) {
  .faq {
    padding: 60px 10vw;
    flex-direction: column;
  }
  .faq_left {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 40px;
    gap: 14px;
  }
  .faq_subtitle {
    width: 60vw;
  }
  .faq_right {
    padding: 40px 20px;
    gap: 20px;
    width: 100%;
  }
  .faq_right div {
    gap: 10px;
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .faq_right div li {
    width: 56vw;
  }
  .answer {
    padding: 0;
  }
}

@media (max-width: 820px) {
  .faq_right {
    padding: 20px 4px;
  }
  .faq_right div li {
    width: 50vw;
  }
}
