.poster {
  height: 700px;
  width: 100%;
  object-fit: cover;
  object-position: center left;
}

.slider {
  display: none;
}

.slider.active {
  display: flex;
}
@media (max-width: 720px) {
  .poster_2_4_h {
      height: auto;
  }
}
/*@media (max-width: 820px) */