:root{
    --theme-color1--:#ffdd00;
    --theme-color2--:#05479b;
    --white--:white;
}
.bannerSliders {
    height: 590px;
    display: flex;
    align-items: center;
}
.bannerSlider{
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 120px;
}
.bannerSlider::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #00339991;
    z-index: -1;
}
.course-name {
    border-left: 2px solid var(--theme-color1--);
    padding-left: 15px;
    margin-right: 30px;
}
.course-name h4 {
    font-size: 25px;
    margin-right: 20px;
    color: var(--theme-color1--);
}
.banner-titleSection .banner-title {
    font-size: 57px;
    margin-top: 30px;
    line-height: 57px;
    color: var(--white--);
}
.banner-titleSection .banner-title .clr-title{
    color: var(--theme-color1--);
}
.banner-form {
    /* background-color: #ffffff36 !important; */
    padding: 15px 15px !important;
    backdrop-filter: blur(7px) !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}
.Hero2 .slick-dots {
    bottom: 30px !important;
}
.Hero2 .slick-dots li button:before {
    font-size: 14px;
}
.Hero2 .slick-dots li.slick-active button:before {
    color: var(--theme-color1--) !important;
}
.Hero2 .custom-arrow {
    position: absolute;
    background: #fff;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(37px);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
}
.Hero2 .custom-arrow:hover{
    background: white !important;
}
.Hero2 .custom-arrow.next{
    right: 20px;
}
.Hero2 .custom-arrow.prev{
    left: 20px;
}


/* === responsive for mobile start === */
@media (max-width:676px){
    .bannerSlider {
        padding: 20px 0;
        height: 413px !important;
    }
    .banner-titleSection .banner-title {
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .course-name {
        margin-right: 0px !important;
    }
    .course-name h4 {
        font-size: 20px;
        margin-right: 20px;
        color: var(--theme-color1--);
    }
    .course-title {
        justify-content: center;
    }
    .banner-form .form-control, .banner-form .form-select {
        border-radius: 0;
        margin: 15px 0 5px;
        padding: 5px 10px;
    }
    .banner-form {
        padding: 20px 20px !important;
    }
    .banner-form button {
        background-color: var(--secondary-color);
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 4px 35px;
        border-radius: 30px;
    }
    .bannerSliders .banner-form{
        display: none;
    } 
}@media (min-width: 390px) {
    /* Your styles here */
  }
/* === responsive for mobile end === */

@media (min-width:768px) and (max-width:992px){
    .bannerSlider .col-md-6{
            width: 100%;
    }
    .bannerSlider {
        height: 931px;
    }
    .banner-titleSection .banner-title {
        font-size: 60px;
        margin-bottom: 20px;
    }
}


@media (min-width:1280px){
    .bannerSliders{
        height: 500px;
    }
}
@media (min-width:1512px){
    .bannerSliders{
        height: 590px;
    }
}
@media (min-width:1920px){
    .bannerSliders{
        height: 750px;
    }
}
@media (min-width:1440px){
    .bannerSliders{
        height: 550px !important;
    }
}
@media (min-width:390px){
    .bannerSliders{
        height: 511px;
    }
}
@media (min-width:360px) and (max-width:389px){
    .bannerSliders{
        height: 470px !important;
    }
    .card_img{
        height: 271px;
    }
    .subject_selected{
        width: 211px;
    }
}
@media (min-width:1920px){
    .bannerSliders{
        height: 726px !important;
    }
}

/*==== new success css start ====*/
.new-success {
    background: var(--theme-color1--);
    font-size: 20px;
    padding-top: 9px;
}
/*==== new success css end ====*/
