.newsliderslick img {
  height: 620px;
  width: 100%;
  object-fit: cover;
}
.newsliderslick button {
  z-index: 9;
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  transition: all 0.5s ease;
}
.newsliderslick button::after, .newsliderslick button::before {
  font-size: 30px;
  opacity: 1;
  transition: all 0.5s ease;
}
.newsliderslick button.slick-prev {
  left: -100%;
}
.newsliderslick button.slick-next {
  right: -100%;
}
.newsliderslick button:hover {
  background-color: var(--tertiary-color);
}
.newsliderslick button:hover::after, .newsliderslick button:hover::before {
  color: var(--primary-color);
}
.newsliderslick {
  overflow: hidden;
}
.newsliderslick:hover button.slick-prev {
  left: 15px;
}
.newsliderslick:hover button.slick-next {
  right: 15px;
}