:root{
    --theme-color1--:#ffdd00;
    --theme-color2--:#05479b;
    --white--:white;
}
.bannerSlider{
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.bannerSlider::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #00339991;
    z-index: -1;
}
.course-name {
    border-left: 2px solid var(--theme-color1--);
    padding-left: 15px;
    margin-right: 30px;
}
.course-name h4 {
    font-size: 25px;
    margin-right: 20px;
    color: var(--theme-color1--);
}
.banner-titleSection .banner-title {
    font-size: 75px;
    margin-top: 30px;
    line-height: 80px;
    color: var(--white--);
}
.banner-titleSection .banner-title .clr-title{
    color: var(--theme-color1--);
}
.banner-form {
    background-color: #ffffff36 !important;
    padding: 40px 40px !important;
    backdrop-filter: blur(7px) !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}
.Hero2 .slick-dots {
    bottom: 30px !important;
}
.Hero2 .slick-dots li button:before {
    font-size: 14px;
}
.Hero2 .slick-dots li.slick-active button:before {
    color: var(--theme-color1--) !important;
}

/* === responsive for mobile start === */
@media (max-width:676px){
    
    .bannerSlider {
        padding: 20px 0;
        height: 670px !important;
    }
    .banner-titleSection .banner-title {
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .course-name {
        margin-right: 0px !important;
    }
    .course-name h4 {
        font-size: 20px;
        margin-right: 20px;
        color: var(--theme-color1--);
    }
    .course-title {
        justify-content: center;
    }
    .banner-form .form-control, .banner-form .form-select {
        border-radius: 0;
        margin: 15px 0 5px;
        padding: 5px 10px;
    }
    .banner-form {
        padding: 20px 20px !important;
    }
    .banner-form button {
        background-color: var(--secondary-color);
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 4px 35px;
        border-radius: 30px;
    }
}
/* === responsive for mobile end === */

/* === responsive for tablet start === */
@media (min-width:768px) and (max-width:992px){
    .bannerSlider .col-md-6{
            width: 100%;
    }
    .bannerSlider {
        height: 931px;
    }
    .banner-titleSection .banner-title {
        font-size: 60px;
        margin-bottom: 20px;
    }
}
/* === responsive for tablet end === */

/*==== new success css start ====*/
.new-success {
    background: var(--theme-color1--);
    font-size: 20px;
    padding-top: 9px;
}
/*==== new success css end ====*/
