.review_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 40px 10vw;
}

.r_p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4vw;
}

.rev_t3 {
  color: rgb(0, 156, 0);
}

.review_slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  gap: 1vw;
}

.review_card {
  width: 20vw;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.review_card div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.review_card.active {
  background-color: rgb(222, 255, 222);
  opacity: 1;
}

.btns_review {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

@media (min-width: 1620px) {
  .review_container {
    gap: 3vw;
    padding: 80px 10vw;
  }
  .r_p1 {
    gap: 0.4vw;
  }
  .review_card {
    padding: 20px;
    gap: 0.8vw;
  }
  .btns_review {
    gap: 2vw;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .review_container {
    gap: 3vw;
    padding: 50px 10vw;
  }
  .r_p1 {
    gap: 0.3vw;
  }
  .review_card {
    padding: 16px;
    gap: 0.4vw;
  }
  .btns_review {
    gap: 2vw;
  }
}
@media (max-width: 1024px) {
  .review_container {
    gap: 24px;
    padding: 40px 10vw;
  }
  .r_p1 {
    gap: 2px;
  }
  .review_card {
    padding: 12px;
    gap: 0.4vw;
  }
  .btns_review {
    gap: 24px;
  }
}
@media (max-width: 820px) {
  .review_container {
    gap: 24px;
    padding: 40px 20px;
  }
  .r_p1 {
    gap: 2px;
  }
  .review_slide {
    flex-wrap: wrap;
    gap: 20px;
  }
  .review_card {
    width: 200px;
    padding: 4px;
    gap: 0.4vw;
  }
  .btns_review {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .review_card {
    width: 100%;
    padding: 24px 0;
  }
}