.success {
  background-color: white;
  padding: 8px 80px;
  height: 70px;
  width: 860px;
  border-radius: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.success p {
  margin: 0;
}

.success p:first-child {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 600;
  margin-left: 72px;
}

.success_mob_text {
  color: #808080;
  font-size: 24px;
  font-weight: 600;
  display: none;
}

.success p:last-child {
  color: #ff0505bf;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  top: -24px;
  animation: text_slide 3s ease-in infinite;
  width: fit-content;
}

@keyframes text_slide {
  0% {
    top: -24px;
    opacity: 0;
  }
  30% {
    top: 0px;
    opacity: 1;
  }
  70% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 24px;
    opacity: 0;
  }
}

@media (min-width: 1620px) {
  .success {
    padding: 32px 20px;
    height: 70px;
    width: 1060px;
    border-radius: 100px;
    gap: 20px;
  }
  .success p:first-child {
    font-size: 32px;
    margin-left: 82px;
  }
  .success p:last-child {
    font-size: 32px;
  }
}
@media (max-width: 1340px) {
  .success {
    padding: 24px 20px;
    height: 70px;
    width: 680px;
    border-radius: 100px;
    gap: 10px;
  }
  .success p:first-child {
    font-size: 22px;
    margin-left: 82px;
  }
  .success p:last-child {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {    
  .success {
    width: 100%;
  }
  .marquee-item {
    font-size: 17px;
  } 
}
/* @media (max-width: 820px) */