.blog_pg_body {
  padding: 80px 10vw;
}

.blog_pg_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4vw;
}

.blog_pg_card {
  display: flex;
  flex-direction: column;
  width: 24vw;
  border-radius: 18px;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #f4f4f4);
  box-shadow: 0 0 24px rgba(150, 150, 150, 0.447);
}

.blog_pg_card__header img {
  width: 24vw;
  height: 16vw;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  object-fit: cover;
}

.blog_pg_card__body {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
  padding: 20px;
}

.blog_pg_card__body h4 {
  font-size: 1.6vw;
}

.blog_pg_tag {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 12px;
}

.blog_pg_card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6vw;
  padding: 0 20px 20px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.blog_pg_card__footer img {
  border-radius: 100%;
  height: 3vw;
  width: 3vw;
  object-fit: cover;
}

.blog_pg_user__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1620px) {
  .blog_pg_body {
    padding: 80px 10vw;
  }
  .blog_pg_container {
    row-gap: 4vw;
  }
  .blog_pg_card {
    width: 24vw;
    border-radius: 18px;
  }
  .blog_pg_card__header img {
    width: 24vw;
    height: 16vw;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
  }
  .blog_pg_card__body {
    gap: 0.6vw;
    padding: 20px;
  }
  .blog_pg_card__body h4 {
    font-size: 1.2vw;
  }
  .blog_pg_tag {
    padding: 2px 8px;
    border-radius: 12px;
  }
  .blog_pg_card__footer {
    gap: 0.6vw;
    padding: 0 20px 20px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .blog_pg_card__footer img {
    height: 3vw;
    width: 3vw;
  }
}
/*@media (max-width: 1620px) and (min-width: 1024px)*/
@media (max-width: 1024px) {
  .blog_pg_body {
    padding: 80px 10vw;
  }
  .blog_pg_container {
    row-gap: 3vw;
  }
  .blog_pg_card {
    width: 24vw;
    border-radius: 12px;
  }
  .blog_pg_card__header img {
    width: 24vw;
    height: 16vw;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .blog_pg_card__body {
    gap: 0.6vw;
    padding: 20px;
  }
  .blog_pg_card__body h4 {
    font-size: 2vw;
  }
  .blog_pg_tag {
    padding: 2px 8px;
    border-radius: 12px;
  }
  .blog_pg_card__footer {
    gap: 0.6vw;
    padding: 0 20px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .blog_pg_card__footer img {
    height: 3vw;
    width: 3vw;
  }
}
@media (max-width: 820px) {
  .blog_pg_body {
    padding: 50px 20px;
  }
  .blog_pg_container {
    row-gap: 24px;
    justify-content: space-between;
    gap: 18px;
  }
  .blog_pg_card {
    width: 150px;
    border-radius: 12px;
  }
  .blog_pg_card__header img {
    width: 150px;
    height: 120px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .blog_pg_card__body {
    gap: 8px;
    padding: 10px;
  }
  .blog_pg_card__body h4 {
    font-size: 12px;
  }
  .blog_pg_tag {
    padding: 2px 12px;
    border-radius: 12px;
  }
  .blog_pg_card__footer {
    display: none;
    gap: 8px;
    padding: 0 10px 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .blog_pg_card__footer img {
    height: 34px;
    width: 34px;
  }
}
