.achivements {
  padding: 40px 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  background-image: url('../Assets/background-4.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.achivements .paragraph {
  text-align: center;
}

@media (min-width: 1620px) {
  .achive_div_para {
    width: 80%;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .achive_div_para {
    width: 70%;
  }
}
/*@media (max-width: 1024px)*/
@media (max-width: 820px) {
  .achivements {
    text-align: center;
    padding: 40px 20px;
    gap: 12px;
  }
}
