#wrap #main #content p {
  line-height: 22px;
  margin-bottom: 25px;
  color: #513f33;
}
#wrap #main #sidebar .sidebarcontent .sidebarcol {
  float: left;
  width: 48%;
}
#wrap #main #sidebar .sidebarcontent .sidebarbox {
  color: #513f33;
  font-size: 11px;
  padding: 10px;
  background: #f2ecd7;
  margin: 0px 10px 10px 10px;
  line-height: 18px;
}
#wrap #main #content .post .posthead span {
  color: #e84002;
}

#wrap #main #content .post .posthead h2 {
  font-family: 'Trebuchet MS', Arial, Verdana;
  font-size: 25px;
  color: #000000;
}
#wrap #main #content .post .posthead .datebox {
  display: block;
  margin: 0px;
  padding: 0px;
  background-image: url(images/date.jpg);
  background-repeat: no-repeat;
  height: 96px;
  width: 112px;
  float: right;
}
#wrap #main #content h1,
h2,
h3,
h4 {
  color: #000000;
  font-family: 'Trebuchet MS', Verdana, Halvetica, Arial;
}
#wrap #main #content .post form {
  padding-right: 15px;
  padding-left: 15px;
}
#wrap #main #content .post #form label {
  font-family: 'Trebuchet MS', Verdana, Halvetica, Arial;
  font-size: 12px;
  color: #040507;
  display: block;
}
#wrap #main #content .post #form .textfield {
  display: block;
  width: 250px;
  border: 1px solid #af9d72;
  background-color: #f2ecd7;
}

#wrap #main #content .post .posthead .datebox .day {
  font-size: 32px;
  display: block;
  text-align: center;
  padding-top: 18px;
  color: #999900;
}
#wrap #main #content .post .posthead .datebox .month {
  display: block;
  text-align: center;
}
#wrap #main #content .post .postinfo {
  background-color: #f2ecd7;
  padding: 3px;
  margin: 0px;
  color: #e83900;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-top-color: #d4cec2;
  border-bottom-color: #d4cec2;
  font-size: 10px;
}
#wrap #main #content .post {
  margin-top: 15px;
  margin-bottom: 15px;
}
#wrap #main #sidebar .sidebartop img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 25px;
}
#wrap #header #description {
  font-family: 'Trebuchet MS', Arial, Verdana;
  font-variant: small-caps;
  font-size: 14px;
  display: block;
  float: right;
  width: 100px;
  text-align: center;
  padding-right: 90px;
  padding-top: 55px;
  color: #ffffff;
  font-weight: normal;
}
#wrap #main #content .post .readmore {
  display: inline;
  background-color: #f2ecd7;
  padding: 3px;
}
#wrap #topbar #sitename {
  color: #ec4900;
  font-family: 'Trebuchet MS', Arial, Verdana;
  font-size: 26px;
  margin: 0px;
  padding-left: 15px;
  display: block;
  float: left;
}
#wrap #main #sidebar .sidebarcontent h2 {
  color: #000000;
  font-family: 'Trebuchet MS', Arial, Verdana;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  display: block;
  padding-left: 10px;
}
#wrap #main #sidebar .sidebarcontent ul {
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 15px;
}
#wrap #main #sidebar .sidebarcontent .posts li {
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f2ecd7;
}
#wrap #main #sidebar .sidebarcontent .posts a {
  color: #938157;
  text-decoration: none;
}

#wrap #topbar #sitename span {
  color: #000000;
}

.clear {
  clear: both;
}
#wrap #main #content {
  width: 490px;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
#wrap #main #sidebar {
  margin-left: 520px;
}
#wrap #main #sidebar .sidebartop {
  background-image: url(images/sidebar1.jpg);
  background-repeat: no-repeat;
  height: 51px;
}
#wrap #main #sidebar .sidebarcontent {
  background-image: url(images/sidebar2.jpg);
  background-repeat: repeat-y;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 25px;
}
#wrap #main #sidebar .sidebarbtm {
  background: url(images/sidebar3.jpg) no-repeat;
  height: 73px;
}
#wrap #main #sidebar .sidebarcontent .posts a:visited,
active {
  color: #938157;
  text-decoration: none;
}
#wrap #main #sidebar .sidebarcontent .posts a:hover {
  color: #282317;
  text-decoration: none;
}
#wrap #main #sidebar .sidebarcontent .normalmenu li {
  display: block;
  height: 25px;
  border-bottom: solid 1px#F2ECD7;
}
#wrap #main #sidebar .sidebarcontent .normalmenu a {
  display: block;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  color: #a2816d;
  text-decoration: none;
  /* border-bottom-color: #DCFC3; */
}
#wrap #main #sidebar .sidebarcontent .normalmenu a:visited,
active {
  display: block;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  color: #a2816d;
  text-decoration: none;
  /* border-bottom-color: #DCFC3; */
}
#wrap #main #content a {
  color: #993300;
}

#wrap #main #sidebar .sidebarcontent .normalmenu a:hover {
  display: block;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  color: #333333;
  text-decoration: none;
  background-color: #f2ecd7;
}
#wrap #main #content a:visited,
active {
  color: #993300;
}
#wrap #main #content a:hover {
  color: #000000;
  text-decoration: none;
}
#wrap #footer {
  background: url(images/footer.jpg) no-repeat center top;
  padding: 25px 15px 15px 15px;
  text-align: center;
}
#wrap #footer #credit {
  padding-top: 25px;
  font-size: 10px;
}
#wrap #footer a {
  color: #990000;
}
#wrap #footer a:visited,
active {
  color: #990000;
}
#wrap #footer a:hover {
  color: #000000;
  text-decoration: none;
}
#wrap #main #sidebar .sidebarcontent a {
  color: #990000;
}
#wrap #main #sidebar .sidebarcontent a:visited,
active {
  color: #990000;
}
#wrap #main #sidebar .sidebarcontent a:hover {
  color: #000000;
  text-decoration: none;
}
#wrap #main #content .post blockquote {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url(images/blockquote.jpg) no-repeat left top;
  padding: 5px 5px 5px 30px;
  display: block;
  text-align: right;
  border-right: dashed 1px #cec8bc;
  margin: 5px 10px 5px 5px;
}
#wrap #main #content .post img {
  padding: 3px;
  background-color: #ffffcc;
  border: 1px solid #d1c6ab;
}
#wrap #main #content .post .alignleft {
  float: left;
  margin: 5px;
}

#wrap #main #content .post .posthead .postinfotop {
  font-size: 10px;
  margin: 0px;
}

#wrap #main #content .post blockquote p {
  color: #993300;
  padding: 0px;
  margin: 0px;
}
#wrap #main #content .post ul {
  padding: 10px;
  list-style-type: none;
  margin-left: 15px;
}
#wrap #main #content .post ol {
  padding: 10px;
  list-style-type: decimal;
  margin-left: 15px;
  list-style-position: inside;
}
#wrap #main #content .post ul li {
  background: url(images/bullet.jpg) no-repeat 0px 7px;
  padding: 3px 15px 3px;
  padding-top: 3px;
}
#wrap #main #content .post ol li {
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#wrap #main #content .post code {
  font-size: 12px;
  color: #333333;
  background: #f0f0f0;
  white-space: pre;
  padding: 10px;
  margin-bottom: 25px;
  font-family: 'Courier New', Courier, monospace;
  display: block;
}
#wrap #main #content .post #pagination {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
#wrap #main #content .post #pagination span {
  padding-left: 150px;
}
#wrap #main #content table {
  width: 95%;
  border: 1px solid #c5b798;
  margin-top: 15px;
  margin-bottom: 25px;
}
#wrap #main #content .post td {
  border-bottom: 1px solid #cdc1a7;
  padding: 5px;
}
#wrap #main #content .post th {
  font-family: 'Trebuchet MS', Arial, Verdana;
  font-size: 14px;
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cdc1a7;
  background-color: #cdc1a7;
  color: #993300;
}
#wrap #main #content .post .extract {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url(images/blockquote.jpg) no-repeat left top;
  padding: 5px 5px 5px 30px;
  display: block;
  float: left;
  width: 150px;
  text-align: right;
  border-right: dashed 1px #cec8bc;
  margin: 5px 10px 5px;
}
#wrap #main #content .post #form .textfield:hover {
  display: block;
  width: 250px;
  border: 1px solid #af9d72;
  background-color: #ffffcc;
}
#wrap #main #content .post #form input {
  padding: 3px;
  margin-bottom: 15px;
}
#wrap #main #content .post #form .buttons {
  padding: 15px;
}
#wrap #main #content .post #form .buttons input {
  border: 1px solid #af9d72;
  background-color: #f2ecd7;
}
#wrap #topbar #topmenu {
  float: right;
  font-size: 16px;
  font-family: 'Trebuchet MS', Verdana, Halvetica, Arial;
  padding-right: 15px;
  padding-left: 15px;
}
#wrap #topbar #topmenu ul {
  list-style-type: none;
}
#wrap #topbar #topmenu li {
  display: inline;
}
#wrap #topbar #topmenu a {
  display: block;
  float: left;
  text-decoration: none;
  color: #993300;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 10px;
  margin-left: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e0d9c9;
}

#wrap #main #content .post #form .textfield:focus {
  display: block;
  width: 250px;
  border: 1px solid #70613f;
  background-color: #ffffff;
}
#wrap #topbar #topmenu a:visited,
active {
  display: block;
  float: left;
  text-decoration: none;
  color: #993300;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 10px;
  margin-left: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e0d9c9;
}
#wrap #topbar #topmenu a:hover {
  display: block;
  float: left;
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 10px;
  margin-left: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e0d9c9;
}
#wrap #topbar #sitename a {
  color: #e84002;
  text-decoration: none;
}
#wrap #topbar #sitename a:visited,
active,
hover {
  color: #e84002;
  text-decoration: none;
}
