.c_h_c {
  padding: 40px 10vw;
  background-color: rgb(218, 237, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  /* background-image: url('../Assets/'); */
  background-position: right 0px top -120px;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.poster_c_h {
  height: 520px;
  width: 100%;
  object-fit: cover;
}

.slider_c_h {
  display: none;
}

.slider_c_h.active_c_h {
  display: flex;
}

.c_h_container_left {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 60%;
  animation: hero_container_p1_in 1s ease;
  position: relative;
  left: 0vw;
  opacity: 1;
}

@keyframes hero_container_p1_in {
  0% {
    left: -6vw;
    opacity: 0.2;
  }
  100% {
    left: 0vw;
    opacity: 1;
  }
}

.c_h_counter {
  background-color: white;
  padding: 12px 38px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 12px;
}

.c_h_counter div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vh;
  padding: 0px 2vw;
  border-right: 0.6px rgb(187, 187, 187) solid;
}

.c_h_counter div:first-child {
  padding: 0 2vw 0 0;
}

.c_h_counter div:last-child {
  border: none;
  padding: 0 0 0 2vw;
}

.c_h_counter div p {
  margin: 0;
}

.c_h_counter div p:last-child {
  color: rgba(102, 102, 102, 1);
}

.c_h_points {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  padding: 18px 38px;
  border-radius: 12px;
}

.c_h_points_left div,
.c_h_points_right div {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.c_h_points_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(134, 134, 134, 0.408);
}

.c_h_points_left div p,
.c_h_points_right div p {
  color: rgba(102, 102, 102, 1);
  cursor: context-menu;
}

.c_h_points_right {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.c_h_points_right p {
  margin: 0;
  color: #ffdd00;
}

.c_h_container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.c_h_container_right img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}

.c_h_container_right p {
  margin: 0px;
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(102, 102, 102, 0.668);
  cursor: pointer;
  transition: color 0.3s ease;
}

.c_h_container_right p:hover {
  color: rgba(36, 36, 36, 0.668);
}

.c_h_container_right button {
  border: none;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 10px 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: white;
  background-color: #ffdd00;
  transition: transform 0.3s ease;
}

.c_h_container_right button:hover {
  transform: translateY(-4px);
  box-shadow: #ffdd0044 0px 6px 6px;
}

.adword_hc_page {
  display: none;
}

/* Responsiveness */

@media (min-width: 1620px) {
  .c_h_c {
    padding: 60px 10vw;
    background-position: right 0px top -10vw;
    height: 30vw;
  }

  .poster_c_h {
    height: 30vw;
    width: 100%;
  }

  .c_h_container_left {
    gap: 2vw;
    width: 60%;
  }

  .c_h_heading {
    font-size: 2vw;
    width: 24vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .c_h_counter {
    padding: 1vw 2vw;
    border-radius: 12px;
  }
  .c_h_counter div {
    gap: 1vh;
    padding: 0px 2vw;
  }
  .c_h_counter div:first-child {
    padding: 0 2vw 0 0;
  }
  .c_h_counter div:last-child {
    padding: 0 0 0 2vw;
  }
  .c_h_points {
    gap: 0vw;
    width: 30vw;
    padding: 18px 38px;
  }
  .c_h_points_left div,
  .c_h_points_right div {
    gap: 1vw;
  }
  .c_h_points_left {
    width: 54%;
  }
  .c_h_points_right {
    margin-left: 2.2vw;
    gap: 1vh;
  }
  .c_h_container_right {
    gap: 1vw;
  }
  .c_h_container_right img {
    height: 16vw;
    width: 30vw;
  }
  .c_h_container_right p {
    margin: 0px;
    font-size: 2.2vw;
    letter-spacing: 1px;
  }
  .c_h_container_right button {
    padding: 0.4vw 1.4vw;
    font-size: 1.2vw;
    letter-spacing: 0.6px;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .c_h_c {
    padding: 4vw 10vw;
    background-position: right 0px top -10vw;
  }

  .poster_c_h {
    height: 32vw;
    width: 100%;
  }

  .c_h_container_left {
    gap: 2.2vw;
    width: 60%;
  }

  .c_h_heading {
    font-size: 2.2vw;
    width: 28vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .c_h_counter {
    padding: 1vw 2vw;
    border-radius: 12px;
  }
  .c_h_counter div {
    gap: 1vh;
    padding: 0px 2vw;
  }
  .c_h_counter div:first-child {
    padding: 0 2vw 0 0;
  }
  .c_h_counter div:last-child {
    padding: 0 0 0 2vw;
  }
  .c_h_points {
    gap: 0vw;
    width: 34vw;
    padding: 18px 38px;
  }
  .c_h_points_left div,
  .c_h_points_right div {
    gap: 1vw;
  }
  .c_h_points_left {
    width: 54%;
  }
  .c_h_points_right {
    margin-left: 2.2vw;
    gap: 1vh;
  }
  .c_h_container_right {
    gap: 1vw;
  }
  .c_h_container_right img {
    height: 16vw;
    width: 28vw;
  }
  .c_h_container_right p {
    margin: 0px;
    font-size: 2.2vw;
    letter-spacing: 1px;
  }
  .c_h_container_right button {
    padding: 0.4vw 1.4vw;
    font-size: 1.2vw;
    letter-spacing: 0.6px;
  }
}
@media (max-width: 1024px) {
  .c_h_c {
    flex-direction: column;
    gap: 24px;
    background-position: right 0px top 0px;
  }
  .c_h_container_left {
    align-items: center;
    gap: 18px;
    width: 100%;
  }

  .c_h_heading {
    text-align: center;
    font-size: 28px;
    width: 38vw;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .c_h_counter {
    padding: 4px 12px;
    border-radius: 4px;
  }
  .c_h_counter div {
    color: rgb(62, 33, 33);
    gap: 8px;
    padding: 0px 12px;
  }
  .c_h_counter div:first-child {
    padding: 0 12px 0 0;
  }
  .c_h_counter div:last-child {
    padding: 0 0 0 12px;
  }
  .c_h_points {
    gap: 0.6vw;
    width: 44vw;
    padding: 18px 38px;
  }
  .c_h_points_left div,
  .c_h_points_right div {
    gap: 12px;
  }
  .c_h_points_left {
    width: 58%;
  }
  .c_h_points_right {
    margin-left: 2.2vw;
    gap: 1vh;
  }
  .c_h_container_right {
    gap: 1vw;
  }
  .c_h_container_right img {
    height: 28vw;
    width: 60vw;
  }
  .c_h_container_right p {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
  .c_h_container_right button {
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 0.6px;
  }
  .arrow_btn_ch {
    top: 38vw;
    font-size: 34px;
  }
  .prev-button-course,
  .next-button-course {
    top: 310px;
  }
}
@media (max-width: 820px) {
  .c_h_c {
    padding: 20px;
    flex-direction: column;
    gap: 24px;
    background-position: right 0px top 0px;
  }
  .c_h_container_left {
    align-items: center;
    gap: 18px;
    width: 100%;
  }

  .c_h_heading {
    text-align: center;
    font-size: 24px;
    width: 80%;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .c_h_counter {
    padding: 4px 12px;
    border-radius: 4px;
  }
  .c_h_counter div {
    align-items: center;
    justify-content: center;
    color: rgb(62, 33, 33);
    gap: 0px;
    padding: 0px 4px;
  }
  .c_h_counter div:first-child {
    padding: 0 4px 0 0;
  }
  .c_h_counter div:last-child {
    padding: 0 0 0 4px;
  }
  .c_h_points {
    flex-direction: column;
    align-items: center;
    gap: 0.6vw;
    width: fit-content;
    padding: 8px 12px;
  }
  .c_h_points_left div,
  .c_h_points_right div {
    gap: 12px;
  }
  .c_h_points_left {
    border-right: 0px solid rgba(134, 134, 134, 0.408);
    width: fit-content;
    gap: 8px;
  }
  .c_h_points_right {
    display: none;
    margin-left: 2.2vw;
    gap: 1vh;
  }
  .c_h_container_right {
    gap: 12px;
  }
  .c_h_container_right img {
    height: fit-content;
    width: 240px;
  }
  .c_h_container_right p {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
  .c_h_container_right button {
    padding: 4px 10px;
    font-size: 14px;
    letter-spacing: 0.6px;
  }
  .arrow_btn_ch {
    top: 334px;
    font-size: 24px;
  }
  .prev-button-course,
  .next-button-course {
    top: 310px;
  }
}
