.about_us {
  padding: 30px 10vw 0;
  gap: 48px;
  background-color: white;
  background-image: url('../Assets/background-4.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_us_img_1 {
  height: 400px;
  margin-left: 100px;
}

.about_us_p1_details {
  background-color: rgb(218, 237, 255);
  width: fit-content;
  padding: 10px 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  top: -100px;
  left: 0;
}

.about_us_p1_details div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pointer_icon {
  height: 20px;
  width: 20px;
}

.about_us_p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}

.about_us_p2 div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about_us_p2 div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.about_us_p2,
.about_us_p3 {
  position: relative;
  top: -40px;
}

.about_us_p3 img {
  height: 240px;
}

/* responsiveness */

@media (min-width: 1620px) {
  .about_us {
    padding: 30px 10vw 0;
    gap: 48px;
  }
  .about_us_img_1 {
    height: 22vw;
    margin-left: 100px;
  }
  .about_us_p1_details {
    padding: 10px 20px;
    gap: 16px;
    top: -140px;
    left: 0;
  }
  .about_us_p1_details div {
    gap: 16px;
  }
  .about_us_p2 {
    gap: 28px;
  }
  .about_subtitle {
    width: 28vw;
  }
  .about_us_p2 div {
    gap: 18px;
  }

  .about_us_p2 div div {
    gap: 12px;
  }
  .about_us_p2,
  .about_us_p3 {
    position: relative;
    top: -40px;
  }
  .about_us_p3 img {
    height: 14vw;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .about_us {
    /* padding: 30px 10vw 0; */
    gap: 4vw;
  }
  .about_us_img_1 {
    height: 26vw;
    margin-left: 40px;
  }
  .about_us_p1_details {
    /* padding: 10px 20px;
    gap: 16px;*/
    top: -80px;
    /* left: 0; */
  }
  .about_us_p1_details div {
    /* gap: 16px; */
  }
  .about_us_p2 {
    /* gap: 28px; */
  }
  .about_subtitle {
    /* width: 28vw; */
  }
  .about_us_p2 div {
    /* gap: 18px; */
  }

  .about_us_p2 div div {
    /* gap: 12px; */
  }
  .about_us_p2,
  .about_us_p3 {
    /* position: relative; */
    /* top: -40px; */
  }
  .about_us_p3 img {
    height: 14vw;
  }
}
@media (max-width: 1024px) {
  .about_us {
    /* padding: 30px 10vw 0; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
  }
  .about_us_img_1 {
    height: 280px;
    margin-left: 5vw;
  }
  .about_us_p1_details {
    padding: 10px 20px;
    gap: 16px;
    top: -80px;
    left: 0;
  }
  .about_us_p1_details div {
    /* gap: 16px; */
  }
  .about_us_p2 {
    gap: 12px;
  }
  .about_subtitle {
    width: 28vw;
  }
  .about_us_p2 div {
    gap: 6px;
  }

  .about_us_p2 div div {
    gap: 12px;
  }
  .about_us_p2,
  .about_us_p3 {
    /* position: relative; */
    /* top: -40px; */
  }
  .about_us_p3 img {
    /* height: 24vw; */
    display: none;
  }
}
@media (max-width: 820px) {
  .about_us {
    /* padding: 30px 10vw 0; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
  .about_us_img_1 {
    height: 240px;
    margin-left: 0px;
  }
  .about_us_p1_details {
    padding: 6px 10px;
    gap: 8px;
    top: -60px;
    left: -20px;
  }
  .about_us_p1_details div {
    /* gap: 16px; */
  }
  .about_us_p2 {
    gap: 8px;
    top: -30px;
  }
  .about_subtitle {
    width: 200px;
  }
  .about_t2 {
    width: 160px;
  }
  .about_us_p2 div {
    /* gap: 6px; */
  }

  .about_us_p2 div div {
    gap: 6px;
  }
  .about_us_p2,
  .about_us_p3 {
    /* position: relative; */
    /* top: -40px; */
  }
  .about_us_p3 img {
    /* height: 24vw; */
    /* display: none; */
  }
}

@media (max-width: 512px) {
  .about_us {
    /* padding: 30px 10vw 0; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
  .about_us_img_1 {
    height: 280px;
    margin-left: 20px;
  }
  .about_us_p1_details {
    padding: 6px 10px;
    gap: 8px;
    top: -60px;
    left: -20px;
  }
  .about_us_p1_details div {
    /* gap: 16px; */
  }
  .about_us_p2 {
    align-items: center;
    gap: 18px;
    top: -30px;
  }
  .about_subtitle {
    width: 300px;
    text-align: center;
  }
  .about_t2 {
    width: 220px;
  }
  .about_us_p2 div {
    gap: 12px;
  }

  .about_us_p2 div div {
    gap: 6px;
  }
  .about_us_p2,
  .about_us_p3 {
    /* position: relative; */
    /* top: -40px; */
  }
  .about_us_p3 img {
    margin-top: 6vw;
    height: 180px;
    display: block;
  }
}
