.youtube_grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.youtube_link {
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 16px -4px grey;
}
.youtube_grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 48px;
}