.introduction.youtube_section {
    height: auto;
    margin: 0;
}

.youtube_link {
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 16px -4px grey;
}

.slick-list {
    margin: 0 15px;
}
