.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
img{
    width: 100%;
}
p{
    margin-bottom: 12px;
}
.para_light{
    color: white;
}
.padd{
    padding: 80px 0;
}
.padd_top{
    padding-top: 80px;
}
.padd_bottom{
    padding-bottom: 80px;
}
.row_reve .img-col{
    text-align: right;
}
.common_title_span {
    color: #ffcc00;
}
.location_hero_section {
    position: relative;
    height: 640px;
    display: flex;
    align-items: center;
    isolation: isolate;
}
/* .location_hero_section::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #00339991;
    z-index: -1;
} */
.location_bgimage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.location_bgimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location_hero_heading{
    font-size: 39px;
    margin-top: 30px;
    line-height: 1.2em;
    color: var(--white--);
}
.location_hero_section .headernewform{
    margin: 0;
    display: block;
}
.common_title {
    font-size: 39px;
    line-height: 1.2em;
    color: black;
    margin-bottom: 20px;
}
.common_subtitle {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}
.common_title.title-light{
    color: white;
}
.common_image {
    width: 88%;
    height: 499px;
    border-radius: 20px;
}
.join_img{
    width: 84%;
    height: 492px;
    border-radius: 20px;
}
.grid_img {
    width: 65px;
    height: 65px;
}
.grid_item_title {
    font-size: 20px;
    margin: 21px 0 10px;
    font-weight: 600;
}
.grid_section .grid_row{
    justify-content: center;
}
.grid_section .grid_item {
    margin-top: 47px;
}
.common_ul{
    padding-left: 1rem;
}
.methodology{
    position: relative;
    isolation: isolate;
}
.methodology::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #003399cf;
    z-index: -1;
}
.methodology_BGimage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -2;
}
.methodology_BGimage img{
    height: 100%;
}
.methodoloy_itembox {
    padding-bottom: 20px;
    border-bottom: 1px solid #4681CB;
    margin-bottom: 22px;
    color: white;
}
.methodoloy_itembox:last-child{
    padding: 0;
    margin: 0;
    border: 0;
}
h6.methodology_title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.faq_section .accordion-button {
    background: var(--primary-color);
    box-shadow: 0 0 22px 0 #a7aaab21;
    /* margin-bottom: 25px; */
    border-radius: 62px !important;
    padding-right: 26px;
    color: white;
    height: 69px;
}
.faq_section .accordion-item{
    border: 0;
    margin-bottom: 20px;
}
.faq_section .accordion-button::after{
    content: "\2b"; 
    font-family: "Font Awesome 6 Free";
    background-image: none;
    font-size: 25px;
    margin-bottom: 10px;
}
.faq_section .accordion-button:not(.collapsed)::after{
    transform: none;
}
.faq_section .accordion-button:not(.collapsed)::after{
    content: "\2212";
}
.faq_section .common_title{
    margin-bottom: 40px;
    text-align: center;
}
.Location_MobileForm .banner-form{
    display: none;
}
section.success_stories {
    padding: 70px 0;
    background: #05479b;
    margin: 70px 0;
}
.success_stories .common_title{
    margin-bottom: 50px;
}
.success_stories .stories_content {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 1px solid yellow;
    margin-bottom: 13px;
}
.success_stories .name {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffcc00;
    font-weight: 600;
}
.mobile_bgimage {
    width: 100%;
    position: absolute;
    height: 100%;
    display: none;
}
.grid_section_bg{
    background: #daedff;
}
.row.doubleBGColor {
    /* position: absolute; */
    width: 100%;
    /* z-index: -1; */
    margin-bottom: 70px;
}
.doubleBGColor .col-left{
    background:#ffcc00 ;
    padding: 70px 40px 70px 100px;
}
.doubleBGColor .col-right{
    background:#05479b ;
    padding: 70px 40px 70px 100px;
}
.enroll_contnt_row .col-md-6{
    padding: 70px 40px;
}

@media (max-width:992px) {
    .container{
        max-width: 630px;
    }
    .common_title {
        font-size: 28px;
    }
    .common_image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
   }
   .row_reve{
    flex-direction: column-reverse;
   }
   .grid_section .grid_item {
    margin-top: 21px;
   }
   .common_subtitle {
    font-size: 22px;
    font-weight: 500;
   }
   .padd_bottom {
    padding-bottom: 30px;
   }
   .padd_top {
    padding-top: 40px;
   }
   .padd{
    padding: 40px 0;
   }
   .location_hero_section .banner-form{
    display: none !important;
   } 
   .Location_MobileForm .banner-form{
    display: block;
   }
   .location_hero_section {
    height: 402px;
   }
   .location_bgimage{
    display: none;
   }
}
@media (max-width: 767px){
    .doubleBGColor .col-left{
    background:#ffcc00 ;
    padding: 30px 12px 30px 25px;
}
.doubleBGColor .col-right{
    background:#05479b ;
    padding: 30px 12px 30px 25px;
}
    .mobile_bgimage{
        display: block;
    }
    .common_title {
        font-size: 30px;
    }
    .common_image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
   }
   .row_reve{
    flex-direction: column-reverse;
   }
   .grid_section .grid_item {
    margin-top: 21px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
   }
   .grid_img {
    width: 58px;
    height: 58px;
    margin-top: 21px;
}
   .common_subtitle {
    font-size: 22px;
    font-weight: 500;
   }
   .padd_bottom {
    padding-bottom: 30px;
   }
   .padd_top {
    padding-top: 30px;
   }
   .padd{
    padding: 30px 0;
   }
   .location_hero_section .banner-form{
    display: none !important;
   } 
   .Location_MobileForm .banner-form{
    display: block;
   }
   .location_hero_section {
    height: auto;
    aspect-ratio: 1/1.2;
   }
   .methodology .row:first-child .col-lg-6{
    margin-bottom: 30px;
   }
   .location_bgimage{
    display: none;
   }
}
/* button styles */
.cta-button {
  flex: 1 1 30%;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 14px 32px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  background: #05479b;
  border: none;
  border-radius: 999px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: #05479b;
  text-align: center;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(5, 71, 155, 0.3);
  color:#05479b;
  background: #ffffff;
}

.text-yellow {
  color: #ffcc00;
}