.staff_container {
  background-image: url(../Assets/background-4.png);
  background-size: cover;
  background-blend-mode: multiply;
}

.staff {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  align-items: center;
  padding: 40px 10vw;
}

.r_subtitle {
  width: 400px;
  color: #5d5d5d;
}

.r_learning_image {
  height: 300px;
}

.r_text_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r_text_content p {
  margin: 0;
}

.r_about_features {
  list-style: none;
  padding: 0;
}

.r_about_features {
  color: #5d5d5d;
  display: flex;
  flex-direction: column;
}

.last_smc {
  display: none;
}

@media (min-width: 1620px) {
  .staff {
    padding: 80px 10vw;
  }
  .r_subtitle {
    width: 30vw;
  }
  .r_learning_image {
    height: 20vw;
  }
  .r_text_content {
    gap: 2vw;
  }
  .r_text_content p {
    margin: 0;
  }
  .r_about_features {
    padding: 0;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .staff {
    padding: 60px 10vw;
  }
  .r_subtitle {
    width: 38vw;
  }
  .r_learning_image {
    height: 20vw;
  }
  .r_text_content {
    gap: 2vw;
  }
  .r_text_content p {
    margin: 0;
  }
  .r_about_features {
    padding: 0;
  }
}
@media (max-width: 1024px){
  .staff {
    padding: 20px 10vw;
  }
  .r_subtitle {
    width: 36vw;
  }
  .r_learning_image {
    height: 22vw;
  }
  .r_text_content {
    gap: 12px;
  }
  .r_text_content p {
    margin: 0;
  }
  .r_about_features {
    padding: 0;
  }
}
@media (max-width: 820px){
  .staff {
    padding: 20px 20px;
    flex-direction: column;
    text-align: center;
  }
  .first_smc {
    display: none;
  }
  .last_smc {
    display: block;
  }
  .r_subtitle {
    width: 80%;
  }
  .r_learning_image {
    width: 80%;
    height: fit-content;
  }
  .r_text_content {
    align-items: center;
    gap: 12px;
  }
  .r_text_content p {
    margin: 0;
  }
  .r_about_features {
    padding: 0;
  }
}
