.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
  }
  
  .marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 80s linear infinite;
  }
  
  .marquee-item {
    display: inline-block;
    margin-right: 50px;
    font-size: 32px;
    font-weight: bold;
    position: relative;
}
.marquee-content .marquee-item::after {
  content: '';
  position: absolute;
  right: -25px;
  top: 0;
  background-color: var(--primary-color);
  width: 2px;
  height: 49px;
}
.marquee-content .marquee-item:last-child::after {
  display: none;
}
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  