.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 100;
  background-color: #fff;
}
/* NAVIGATION */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10vw;
  background-color: rgb(218, 237, 255);
  border-bottom: 0.6px solid rgba(141, 141, 141, 0.182);
}

.sticky-div {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar img {
  height: 48px;
}

.nav_ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-self: end;
  position: relative;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  gap: 2vw;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 0px;
}

.nav-item {
  cursor: pointer;
}

.nav-item-list {
}

/* dropdown on hover */

.nav-item-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flooter_header {
  background-color: #fff;
  box-shadow: 0 2px 14px rgba(162, 162, 162, 0.316);
  position: absolute;
  top: 20px;
  border-radius: 12px;
}

.flooter_header li {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.flooter_header li:hover {
  background-color: #e8e8e8;
  color: #2093ff;
}

.nested-dropdown-content {
  position: absolute;
  top: 0vw;
  left: 99.5%;
  display: flex;
  border-radius: 12px;
}

.nested-dropdown-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 140px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(199, 199, 199, 0.419);
}

.ndc_li {
  color: rgb(122, 122, 122);
  text-decoration: none;
}

.nested-dropdown-content li {
}

.nested-dropdown-content li:hover {
  background-color: #f5f5f5;
}

/* SEARCH FUNCTION */

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 1240px) {
  .navbar img {
    height: 42px;
  }
  .nav_ul {
    gap: 1.4vw;
  }
  .nav-item {
    font-size: 14px;
  }
}
@media only screen and (max-width: 820px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE NAVIGATION */

  .navbar {
    padding: 14px 20px;
  }

  .nav_ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 60.8px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar img {
    height: 32px;
  }

  .nav_ul {
    gap: 1.4vw;
  }
  .nav-item {
    font-size: 14px;
  }

  .navbar li {
    padding: 15px;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  .flooter_header {
    position: relative;
    top: 0;
  }
}

@media (min-width: 1620px) {
  .nav-item {
    font-size: 1vw;
  }
  .flooter_header {
    top: 1.5vw;
  }
  .flooter_header li {
    padding: 1vw 2vw;
  }
  .nested-dropdown-content ul {
    width: 11.8vw;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .nav-item {
    font-size: 17px;
  }
  .flooter_header {
    top: 25px;
  }
  .flooter_header li {
    padding: 1vw 2.4vw;
  }
  .nested-dropdown-content ul {
    width: 14vw;
  }
}
@media (max-width: 1024px) and (min-width: 820px) {
  .nav-item {
    font-size: 14px;
  }
  .flooter_header {
    top: 2.3vw;
  }
  .flooter_header li {
    padding: 1vw 3vw;
  }
  .nested-dropdown-content ul {
    width: 18vw;
  }
}
@media (max-width: 820px) {
  .flooter_header {
    top: 0.6vw;
  }
  .flooter_header li {
    padding: 2vw 8vw;
  }
  .nested-dropdown-content ul {
    width: 32vw;
  }
  .nested-dropdown-content {
    position: absolute;
    top: 0vw;
    left: 86%;
    display: flex;
    border-radius: 12px;
  }
}
