img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_pad{
    padding: 80px 0;
}
.about2-title h2{
    font-size: 50px;
    margin: 20px 0;
}
.about2-imgBox {
    height: 600px;
    width: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 4px 4px 16px -4px #bcb7b7;
}