.card_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 0px;
  row-gap: 27px;
  column-gap: 3vw;
  width: calc(100vw - 320px);
}
.imageboxscou {
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}
.imageboxscou .card_img{
  transition: 0.3s;
}
.card_top .t3{
  color: #212529;
  font-size: 16px;
  font-weight: 600;
}
.clickherebtn {
  position: absolute;
  left: 0;
  bottom: 132px;
  right: 0;
  text-align: center;
}

.courses {
  padding: 60px 10vw;
  background-color: rgb(218, 237, 255);
  display: flex;
  flex-direction: column;
  background-image: url('https://www.transparenttextures.com/patterns/foggy-birds.png');
  background-blend-mode: multiply;
}

.courses_upper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.courses_upper p:nth-child(2) {
  width: 620px;
  text-align: center;
}

.subject_list {
  list-style: none;
  background-color: white;
  height: 60px;
  width: 80%;
  border-radius: 116px;
  padding: 0 60px;
  position: relative;
  margin-top: 30px;
  box-shadow: 0px 0px 12px rgba(104, 104, 104, 0.229);
}

.subject_not_selected {
  font-size: 16px;
  font-weight: 500;
  /* width: 160px; */
  text-align: center;
  cursor: pointer;
  padding: 4px 14px;
  transition: 0.3s;
}

.subject_selected {
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  border-radius: 96px;
  /* width: 160px; */
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: white;
  background-color: #05479b;
  transition: transform 0.3s ease;
}
/* course card css code below */

.card {
  /* width: 300px; */
  /* height: 380px; */
  background: none;
  border-radius: 16px;
  border: none;
  align-items: center;
  position: relative;
  display: inline-block;
  /* box-shadow: 0px 0px 12px rgba(104, 104, 104, 0.229); */
}
.card{
  width: 30% !important;
  background: white;
  padding: 10px;
  transition: 0.3s;
}
.card:hover{
  transform: scale(1.05);
}
button.course_card_btn {
  border: none;
  background: #ffdd00;
  padding: 5px 19px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 500px;
  transition: 0.3s;
}
button.course_card_btn:hover{
  background: #003399;
  color:white;
}

.card_img {
  width: 100%;
  /* height: 380px; */
  border-radius: 16px;
  object-fit: cover;
}

.heading_no_hover {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}

.courses_cards a {
  text-decoration: none;
}
.card_container {
  width: 68vw;
}
.courses_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover .card_top_containers img {
  position: relative;
  top: -1.4px;
  height: 20px;
  width: fit-content;
}
.card_top div:nth-child(1) p {
color:black;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}

.card:hover .card_bottom p {
  margin-bottom: 0;
}

.card:hover .card_bottom p:nth-child(1) {
  text-align: center;
  color: white;
}

.card:hover .card_bottom p:nth-child(2) {
  width: 80%;
  text-align: center;
  color: white;
  display: block;
}
.card:hover .heading_no_hover {
  display: none;
}

@media (min-width: 1620px) {
  .courses {
    padding: 60px 10vw 60px;
  }
  .courses_upper {
    gap: 24px;
  }
  .courses_upper p:nth-child(2) {
    width: 620px;
  }
  .subject_list {
    height: fit-content;
    width: 1240px;
    border-radius: 116px;
    padding: 10px 10px;
    margin-top: 60px;
  }
  .subject_not_selected {
    font-size: 28px;
    /* width: 240px; */
  }
  .subject_selected {
    padding: 4px 8px;
    border-radius: 96px;
    width: 220px;
    height: fit-content;
    font-size: 28px;
    letter-spacing: 0.8px;
  }
  .card_container {
    padding: 60px 0px;
    row-gap: 80px;
    column-gap: 27px;
    /* width: calc(100vw - 320px); */
  }
  .card_container{
    width: 100% !important;
  }
  .card_img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  .card::before {
    border-radius: 16px;
  }

  .card_container {
    width: 80vw;
  }
  .card:hover .card_top_containers img {
    top: -1.4px;
    height: 20px;
  }

  .card:hover .card_bottom {
    gap: 8px;
  }

  .card:hover .card_bottom p:nth-child(1) {
  }

  .card:hover .card_bottom p:nth-child(2) {
    width: 80%;
  }
}

@media (max-width: 1980px) and (min-width: 1620px) {
  .card_container {
    padding: 60px 0px;
    row-gap: 80px;
    column-gap: 65px;
    width: calc(100vw - 320px);
  }
  .card_img {
    width: 100%;
    border-radius: 16px;
  }
}

@media (max-width: 1620px) and (min-width: 1024px) {
  .courses {
    padding: 60px 10vw 20px;
  }
  .courses_upper {
    gap: 24px;
  }
  .courses_upper p:nth-child(2) {
    width: 620px;
  }
  .subject_list {
    height: fit-content;
    width: 80%;
    border-radius: 116px;
    padding: 11px 11px;
    margin-top: 50px;
  }
  .subject_not_selected {
    font-size: 20px;
    /* width: 240px; */
  }
  .subject_selected {
    padding: 4px 14px;
    border-radius: 96px;
    /* width: 240px; */
    height: fit-content;
    font-size: 19px;
    letter-spacing: 0.8px;
  }
  .subject_not_selected:hover {
    background: #05479b;
    padding: 4px 14px;
    border-radius: 30px;
    color: white;
}
  .card_container {
    padding: 60px 0px;
    row-gap: 60px;
    column-gap: 27px;
    width: calc(100vw - 320px);
  }
  .card {
    width: 280px;
    /* height: 380px; */
    border-radius: 16px;
  }
  .card_img {
    width: 100%;
    /* height: 380px; */
    border-radius: 16px;
  }
  .card::before {
    border-radius: 16px;
  }

  .card_container {
    width: 80vw;
  }
  .card:hover .card_top_containers img {
    top: -1.4px;
    height: 20px;
  }

  .card:hover .card_bottom {
    gap: 8px;
  }

  .card:hover .card_bottom p:nth-child(1) {
  }

  .card:hover .card_bottom p:nth-child(2) {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .courses {
    padding: 60px 10vw 20px;
  }
  .courses_upper {
    gap: 18px;
  }
  .courses_upper p:nth-child(2) {
    width: 440px;
  }
  .subject_list {
    height: fit-content;
    width: 100%;
    border-radius: 116px;
    padding: 12px 12px;
    margin-top: 30px;
  }
  .subject_not_selected {
    font-size: 14px;
    width: 160px;
    transition: 0.3s;
    border-radius: 0;
  }
  .subject_selected {
    font-size: 14px;
    /* width: 160px; */
    padding: 4px 14px;
    border-radius: 96px;
    height: fit-content;
    letter-spacing: 0.4px;
  }
  .card_container {
    padding: 60px 0px;
    row-gap: 40px;
    column-gap: 27px;
    width: 80vw;
  }
  .card {
    width: 240px;
    border-radius: 16px;
  }
  .card_img {
    width: 240px;
    height: 155px;
    border-radius: 16px;
  }
  .card:hover .card_content {
    border-radius: 16px;
    top: -340px;
    /* height: 340px; */
    padding: 24px 0;
  }
  .card::before {
    border-radius: 16px;
  }

  .card_container {
    width: 80vw;
  }
  .card:hover .card_top_containers img {
    top: -1.4px;
    height: 20px;
  }

  .card:hover .card_bottom {
    gap: 8px;
  }

  .card:hover .card_bottom p:nth-child(1) {
  }

  .card:hover .card_bottom p:nth-child(2) {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .courses {
    padding: 50px 10vw 10px;
  }
  .courses_upper {
    gap: 14px;
  }
  .courses_upper p:nth-child(2) {
    width: 300px;
  }
  .subject_list {
    height: fit-content;
    width: 100%;
    border-radius: 116px;
    padding: 10px 30px;
    margin-top: 30px;
  }
  .subject_not_selected {
    font-size: 12px;
    /* width: 140px; */
  }
  .subject_selected {
    font-size: 12px;
    /* width: 140px; */
    padding: 4px 12px;
    border-radius: 96px;
    height: fit-content;
    letter-spacing: 0.2px;
  }
  .card_container {
    padding: 40px 0px;
    row-gap: 20px;
    column-gap: 20px;
    width: calc(100vw - 40px);
  }
  .card {
    width: 200px;
    border-radius: 16px;
  }
  .card_img {
    width: 200px;
    height: 132px;
    border-radius: 16px;
  }
  .card:hover .card_content {
    border-radius: 16px;
    top: -300px;
    /* height: 300px; */
    padding: 24px 0;
  }
  .card::before {
    border-radius: 16px;
  }

  .card_container {
    width: 100vw;
  }

  .card:hover .card_top_containers img {
    top: -1.4px;
    height: 20px;
  }

  .card:hover .card_top div:nth-child(2) p {
    width: 28.5vw;
    padding: 4px 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card:hover .card_bottom {
    gap: 4px;
  }

  .card:hover .card_bottom p:nth-child(1) {
  }

  .card:hover .card_bottom p:nth-child(2) {
    width: 92%;
  }
}

@media (max-width: 520px) {
  .courses {
    padding: 50px 3vw 10px;
  }
  .courses_upper {
    gap: 8px;
  }
  .courses_upper p:nth-child(2) {
    width: 240px;
  }
  .subject_list {
    /* flex-wrap: wrap; */
    row-gap: 12px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    border-radius: 16px;
    padding: 8px 13px;
    margin-top: 20px;
}
  .subject_not_selected {
    font-size: 12px;
    /* width: 100px; */
  }
  .subject_selected {
    font-size: 12px;
    /* width: 100px; */
    padding: 4px 12px;
    border-radius: 96px;
    height: fit-content;
    letter-spacing: 0.2px;
  }
  .card_container {
    column-gap: 15px;
  }
  .card {
    width: 100% !important;
    border-radius: 16px;
  }
  .card_img {
    width: 100%;
    height: 248px;
    border-radius: 16px;
  }
  .card:hover .card_content {
    border-radius: 16px;
    top: -300px;
    padding: 24px 0;
  }
  .card::before {
    border-radius: 16px;
  }
  .card_container {
    width: calc(100vw - 0px);
    flex-direction: column;
    padding: 10px;
  }
  .card:hover .card_top_containers img {
    top: -1.4px;
    height: 20px;
  }
  .card:hover .card_bottom {
    gap: 4px;
  }
  .card:hover .card_bottom p:nth-child(2) {
    width: 92%;
  }
}
@media (min-width: 360px) and (max-width: 389px){
  .card_img {
    height: 230px;
  }
}
@media (min-width: 390px) and (max-width: 399px){
  .card_img {
    height: 230px;
  }
}

