.history {
  padding: 40px 10vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  background-image: url('../Assets/6177.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.history div {
  display: flex;
  align-items: center;
}

.history div p {
  width: 64%;
}

@media (min-width: 1620px) {
  .history {
    padding: 40px 10vw;
    gap: 1vw;
  }
  .h_content {
    display: flex;
    gap: 2vw;
  }
  .history div p {
    text-align: center;
    width: 56vw;
  }
  .h_content img {
    width: 16vw;
    height: 14vw;
    object-fit: cover;
  }
}
@media (max-width: 1620px) and (min-width: 1024px) {
  .history {
    padding: 40px 10vw;
    gap: 1vw;
  }
  .h_content {
    display: flex;
    gap: 2vw;
  }
  .history div p {
    text-align: center;
    width: 56vw;
  }
  .h_content img {
    width: 18vw;
    height: 14vw;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .history {
    padding: 40px 20px;
    gap: 1vw;
  }
  .h_content {
    display: flex;
    gap: 2vw;
  }
  .history div p {
    text-align: center;
    width: 56vw;
  }
  .h_content img {
    width: 28vw;
    height: 24vw;
    object-fit: cover;
  }
}
@media (max-width: 820px){
  .history {
    text-align: center;
    padding: 40px 20px;
    gap: 12px;
  }
  .h_content {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .history div p {
    text-align: center;
    width: 90vw;
  }
  .h_content img {
    width: 42vw;
    height: 34vw;
    object-fit: cover;
  }
}
