.form3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 10vw;
  background-color: #ffffff;
  background-image: url('../Assets/6177.png');
  background-blend-mode: multiply;
}

.form3_container {
  width: 100%;
  padding: 30px;
  background: rgb(208, 228, 255);
  background-image: url(../Assets/leaves.png);
  padding: 60px 60px;
  background-blend-mode: multiply;
}

.f3_title {
    background-color: #838383c3;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 4px 0;
    margin-bottom: 12px;
}

.f3_sec {
    display: flex;
    flex-direction: column;
}

.f3_s_c {
  display: flex;
  gap: 18px;
}

.input-group-text {
    background-color: rgba(188, 188, 188, 0.606);
}

.input_sec {
    margin-bottom: 0;
}
