body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.customotherpages h2, .customotherpages h3, .customotherpages h4 {
  margin: 0 0 10px;
}
.customotherpages ul {
  padding: 0 0 0 30px;
  margin: 7px 0 15px;
}
.customotherpages p {
  margin: 0 0 15px;
}
.banner-titleSection h4 {
  color: #fff;
  margin: 25px 0 0;
  font-size: 30px;
}

@media (max-width: 600px) {
  .iitpagenew img {
    display: none;
  }
  .iitjes .bannerSlider {
    height: 225px !important;
  } 
  .customotherpages p, .customotherpages li {
    font-size: 14px;
}
.customotherpages li {
  margin: 0 0 10px;
}
.testi_container_left {
  position: relative;
  bottom: -66px;
}
.testi_container_right {
  height: auto !important;
}
}