body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.customotherpages h2, .customotherpages h3, .customotherpages h4 {
  margin: 0 0 10px;
}
.customotherpages ul {
  padding: 0 0 0 30px;
  margin: 7px 0 15px;
}
.customotherpages p {
  margin: 0 0 15px;
}