.cont_pgd_cont2 {
  padding: 80px 10vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background-color: #ffffff;
}

.content_pgd_p1 {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  padding: 1.5vw;
  width: 70%;
  border-right: 1px solid rgba(151, 151, 151, 0.275);
}

.img_cont_pg {
  width: 100%;
  padding: 40px 10vw 0;
}

.cont_cont_pg .space_cont_pg {
  width: 100px;
  padding: 10px 0;
}

.heading_blog_cont {
  font-size: 2vw;
  font-weight: 500;
}

.content_pgd_p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}

.cont_pgd2_container {
  border-top: 1px solid rgba(151, 151, 151, 0.275);
  padding-top: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}

/* @media (min-width: 1620px) */
/*@media (max-width: 1620px) and (min-width: 1024px)*/
@media (max-width: 1024px) {
  .cont_pgd_cont2 {
    padding: 20px 20px;
    gap: 2vw;
  }
  .content_pgd_p1 {
    gap: 1.5vw;
    padding: 1.5vw;
    width: 70%;
    border-right: 1px solid rgba(151, 151, 151, 0.275);
  }
  .img_cont_pg {
    width: 100%;
    padding: 30px 20px 0;
  }
  .cont_cont_pg .space_cont_pg {
    width: 100px;
    padding: 10px 0;
  }
  .heading_blog_cont {
    font-size: 18px;
    font-weight: 500;
  }
  .content_pgd_p2 {
    gap: 4vw;
  }
  .cont_pgd2_container {
    border-top: 1px solid rgba(151, 151, 151, 0.275);
    padding-top: 4vw;
    gap: 4vw;
  }
}
@media (max-width: 562px) {
  .cont_pgd_cont2 {
    padding: 20px 20px;
    gap: 2vw;
    flex-direction: column;
  }
  .content_pgd_p1 {
    gap: 1.5vw;
    padding: 1.5vw;
    width: 100%;
    border-right: 0px solid rgba(151, 151, 151, 0.275);
  }
  .img_cont_pg {
    width: 100%;
    padding: 30px 20px 0;
  }
  .cont_cont_pg .space_cont_pg {
    width: 100px;
    padding: 10px 0;
  }
  .heading_blog_cont {
    font-size: 16px;
    font-weight: 500;
  }
  .content_pgd_p2 {
    border-top: 1px solid rgba(151, 151, 151, 0.275);
    padding-top: 30px;
    gap: 4vw;
  }
  .cont_pgd2_container {
    border-top: 1px solid rgba(151, 151, 151, 0.275);
    padding-top: 4vw;
    gap: 4vw;
    flex-direction: row;
    align-items: flex-start;
  }
}
